.catalog {
  color: @base-color-header;

  @media (min-width: @tablet) {
    padding: 0 30px;
  }

  @media (min-width: @desktop) {
    padding: 0 110px;
  }
}

.catalog__item {
  @media (min-width: @tablet) {
    margin-bottom: 30px;
  }
}

.catalog--additional {
  padding: 8px 20px;

  @media (min-width: @tablet) {
    padding: 0 30px;
  }

  @media (min-width: @desktop) {
    padding: 0 110px;
  }
}

.catalog--additional .catalog__list {
  margin-top: 34px;
}
