.catalog {
  color: @base-color-header;

  @media (min-width: @tablet) {
    padding: 0 30px;
  }

  @media (min-width: @desktop) {
    padding: 0;
  }
}

.catalog__list {
  @media (min-width: @tablet) {
    margin-top: -42px;
  }
}

.catalog__item {
  @media (min-width: @tablet) {
    margin-top: 140px;
  }

  @media (min-width: @desktop) {
    margin-top: 145px;
  }
}

.catalog--additional .catalog__item {
  @media (min-width: @tablet) {
    margin-top: 0;
  }
}

.catalog--additional {
  padding: 8px 20px;

  @media (min-width: @tablet) {
    padding: 35px 30px 6px 30px;
  }

  @media (min-width: @desktop) {
    display: flex;
    flex-wrap: wrap;
    padding: 42px 0 87px 0;
  }
}

.catalog--additional .catalog__list {
  margin-top: 34px;

  @media (min-width: @tablet) {
    margin-top: 80px;
  }

  @media (min-width: @desktop) {
    width: 73.4%;
    margin-right: 60px;
    margin-top: 51px;
  }
}

.catalog__title {
  @media (min-width: @desktop) {
    width: 100%;
  }
}
