.contacts {
  padding: 30px 20px 0 20px;
  .font(@regular, 16px, 20px, @base-color-header);
  text-transform: uppercase;
}

.contacts__list {
  display: flex;
  padding-bottom: 30px;
}

.contacts__title {
  margin: 0;
}

.contacts__address {
  .font(@arial, 14px, 20px, @base-color-header);
  font-style: normal;
  text-transform: none;
}
