.contacts {
  font-family: "Arial", sans-serif;
  line-height: 20px;
  padding: 27px 20px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    padding: 27px 30px;
  }

  @media (min-width: @desktop) {
    padding: 27px 110px;
  }
}

.contacts__item {
  @media (min-width: @tablet) {
    padding: 0 35px;
  }
}

.contacts__address {
  @media (min-width: @tablet) {
    text-align: right;
  }
}

.contacts__list {
  margin: 0 auto;
}

.contacts__title {
  margin: 0;
}
