.controls {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @base-color-header;
  text-transform: uppercase;
  margin-top: 53px;

  @media (min-width: @tablet) {
    margin-top: -148px;
    font-size: 20px;
  }

  @media (min-width: @desktop) {
    margin-left: 56px;
  }
}

.controls__label {
  @media (min-width: @tablet) {
    border-bottom: 1px dotted #d5d5d5;
    padding-bottom: 5px;
  }
}
