.logo {
  width: 33px;
  height: 38px;

  @media (min-width: @tablet) {
    width: 173px;
    height: 58px;
  }
}

.logo--mobile {
  @media (min-width: @tablet) {
    display: none;
  }
}

.logo--tablet {
  display: none;

  @media (min-width: @tablet) {
    display: block;
  }

  @media (min-width: @desktop) {
    display: none;
  }
}

.logo--destop {
  display: none;

  @media (min-width: @desktop) {
    display: block;
  }
}

.logo--footer {
  width: 128px;
  height: 24px;
  margin: 0 auto;
  padding-bottom: 55px;

  @media (min-width: @tablet) {
    margin: 0;
  }
}
