.page-header {
  font-family: "Oswald Medium", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: @additional-color-text;
  background-color: @background;
  padding: 15px 20px;
}

.page-header__menu-toggle {
  background-color: transparent;
  font-size: 0;
}
