.page-header {
  font-family: "Oswald Medium", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: @additional-color-text;
  background-color: @background;
  padding: 15px 20px;
  border-bottom: 1px solid @border-color;

  @media (min-width: @tablet) {
    padding: 20px 30px;
    border-bottom: none;
  }

  @media (min-width: @desktop) {
    padding: 50px 0;
  }
}

.page-header__logo {
  margin-top: -2px;
}

.page-header__navigation {
  display: none;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: @tablet) {
    margin: 0;
  }
}

.page-header__navigation--show {
  display: block;
  flex: 1 1 100%;

  @media (min-width: @tablet) {
    flex: none;
  }
}
