.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 0;
  border-bottom: 1px solid @border-color;
  border-left: 1px solid @border-color;
  border-right: 1px solid @border-color;
  padding: 0 20px;

  @media (min-width: 598px) {
    padding: 0 120px;
  }

  @media (min-width: @tablet) {
    width: 324px;
    background-color: @categories-item-bg;
    border: none;
    flex-direction: column;
    justify-content: flex-end;
    padding: 36px 37px;
  }

  @media (min-width: @desktop) {
    width: 245px;
  }
}

.catalog .product {
  @media (min-width: @tablet) {
    min-height: 431px;
  }
}

.more .product {
  position: relative;
  padding: 20px;

  @media (min-width: @tablet) {
    background-color: transparent;
    border: 1px solid @border-color;
    padding: 37px;
  }
}

.catalog--additional .product {
  padding: 0;
  border-left: none;
  border-right: none;

  @media (min-width: @tablet) {
    width: 100%;
    min-height: 139px;
    background-color: transparent;
    border: 1px solid @border-color;
    padding: 10px 37px;
  }
}

.product--first {
  border-top: 1px solid @border-color;

  @media (min-width: @tablet) {
    border: none;
  }
}

.product__button {
  margin-bottom: 24px;

  @media (min-width: @tablet) {
    margin: 24px 0 0 0;
  }
}

.catalog--additional .product__button {
  margin-top: 15px;
  margin-bottom: 17px;
  text-align: center;
}
