.promo {
  position: relative;
  min-height: 307px;
  padding: 28px 20px;
  background-color: @promo-background;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: cover;
  text-align: center;
  color: @additional-color-text;
}

.promo__title {
  margin-top: 0;
  margin-bottom: 24px;
}

.promo__image {
  position: absolute;
  top: 168px;
  left: 20px;
}
