.promo {
  position: relative;
  min-height: 307px;
  padding: 28px 20px;
  background-color: @promo-background;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: cover;
  text-align: center;
  color: @additional-color-text;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: @tablet) {
    background-color: #ffffff;
    background-image: none;
    text-align: left;
    padding: 32px 117px;
  }

  @media (min-width: @desktop) {
    padding: 54px 80px;
    width: 50%;
  }
}

.promo__title {
  margin-top: 0;
  margin-bottom: 24px;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
    color: @base-color-header;
  }
}

.promo__image {
  content: "";
  position: absolute;
  top: 168px;
  left: calc(50% - 140px);
  width: 280px;
  height: 270px;
  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  z-index: 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png");
    background-size: contain;
  }

  @media (min-width: @tablet) {
    top: 233px;
    left: 29px;
    width: 709px;
    height: 609px;
    background-image: url("../img/index-can-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: contain;
    }
  }

  @media (min-width: @desktop) {
    background-image: url("../img/index-can-desktop@1x.png");
    top: -26px;
    left: 450px;
    height: 554px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
      background-size: contain;
      width: 548px;
    }
  }
}
