.stats {
  padding-top: 10px;

  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop) {
    flex-direction: column;
    justify-content: start;
    width: 50%;
    height: 100%;
  }
}

.stats__list {
  @media (min-width: @tablet) {
    padding-top: 26px;
  }
}

.stats__item {
  @media (min-width: @tablet) {
    margin-right: 42px;
  }
}

.stats__text {
  position: relative;
  top: 10px;
  margin: 0;
  padding: 0 10px;
  background-color: @categories-item-bg;
  text-transform: lowercase;

  @media (min-width: @tablet) {
    background-color: #ffffff;
  }

  @media (min-width: @desktop) {
    background-color: @categories-item-bg;
    padding: 0;
  }
}

.stats__value {
  margin: 0;

  @media (min-width: @tablet) {
    margin: 1px 0;
  }
}
