.checkbox-label {
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -46px;
    width: 29px;
    height: 29px;
    border: 1px solid @border-color;
    z-index: 1;
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 5px;
    left: -40px;
    width: 21px;
    height: 16px;
    background-image: url("../img/tick.png");
    z-index: 2;
  }
}
