.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.page-main__categories .container {
  justify-content: flex-start;
}

.progress .container {
  justify-content: center;
}
