.copyright {
  padding: 22px 0;
}

.copyright__icon {
  fill: @copyright-color;
  width: 27px;
  height: 34px;

  @media (min-width: @tablet) {
    margin-left: 22px;
  }
}

.copyright:hover .copyright__icon {
  fill: @catalog-item-bg;
}
