.field-text,
.field-text__input,
.field-text__textarea {
  text-transform: uppercase;
}

.field-text {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.form__block--comment .field-text {
  margin-top: 15px;

  @media (min-width: @tablet) {
    margin: 56px 0;
  }
}

.field-text__input {
  margin-left: 15px;
  transition: 0.1s;

  @media (min-width: @tablet) {
    margin-left: 17px;
  }
}

.field-text__icon--mail {
  position: absolute;
  right: 20px;
  width: 17px;
  height: 13px;
}

.field-text__icon--phone {
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
}

.field-text__input:active ~ svg,
.field-text__input:focus ~ svg {
  fill: @catalog-item-bg;
}

.field-text__input:focus:invalid ~ svg {
  fill: @invalid-color;
}

.field-text__label {
  flex-shrink: 0;
}

.form__block--contacts .field-text__input {
  margin-left: 10px;

  @media (min-width: @tablet) {
    margin-left: 19px;
  }
}
