.form {
  font-size: 16px;
  margin-top: 19px;
  color: @additional-link-color;
}

.form__block {
  border: none;
}

.form__block--personal {
  margin-bottom: 8px;
}

.form__block--target {
  border: 1px solid @border-color;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0 20px;
}

.form__block--contacts {
  padding-top: 20px;
  padding-bottom: 14px;
  margin-top: 28px;
}

.form__block--additional {
  margin-top: 14px;
}

.form__list {
  margin-top: 20px;
}

.form__block--contacts .form__list {
  margin-top: 14px;
}

.form__block--target .form__list {
  margin-bottom: 14px;
}

.form__block--additional .form__list {
  margin-bottom: 37px;
}

.form__item {
  margin-bottom: 15px;
}

.form__block--additional .form__item {
  margin-bottom: 5px;
  margin-left: 45px;
  margin-top: 19px;
}

.form__notice {
  margin-top: 22px;
}
