.item {
  display: flex;
}

.stats .item {
  position: relative;
  flex-direction: column;
  width: 124px;
  text-align: center;
  border: 1px solid @border-stat-color;
  border-radius: 3px;
  padding: 15px;
}

.contacts .item {
  width: 50%;
}
