.link {
  font-size: 16px;
  line-height: 20px;
  color: @base-color-header;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.link--size--medium {
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @base-color-header;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.product .link {
  line-height: 16px;
  color: @additional-link-color;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.link--banner {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 280px;
  min-height: 290px;
  background-color: @advantages-bg;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 65px;
    left: 113px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet) {
      left: 93px;
    }
  }

  @media (min-width: @tablet) {
    width: 100%;
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop) {
    width: 245px;
    min-height: 290px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.page-navigation__item .link {
  font-size: 20px;
  line-height: 20px;
  color: @base-color-header;

  @media (min-width: @tablet) {
    font-family: "Oswald Regular", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 25px;
  }
}

.page-header--index .link {
  @media (min-width: @desktop) {
    color: @additional-color-text;
  }
}

.categories__item .link {
  padding-top: 20px;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet) {
    padding-top: 34px;
    padding-bottom: 9px;
  }

  @media (min-width: @desktop) {
    padding: 10px 25px 10px 0;
  }
}

.copyright .link {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.social .link {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
