.list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.contacts .list {
  flex-wrap: nowrap;
}

.list--stats {
  justify-content: space-between;
}

.list--column {
  flex-direction: column;
}
