.social-icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: @copyright-color;

  &:hover {
    fill: @catalog-item-bg;
  }

  @media (min-width: @tablet) {
    width: 30px;
    height: 25px;
  }
}
