.social-icon {
  display: block;
  width: 20px;
  height: 20px;

  @media (min-width: @tablet) {
    width: 30px;
    height: 25px;
  }
}

.social-icon--vk {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon--instagram {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon--facebook {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}
