.text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @base-color-text;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text--align--center {
  text-align: center;
  line-height: 16px;
}

.text--size--small {
  font-size: 12px;
  line-height: 12px;

  @media (min-width: @tablet) {
    font-size: 14px;
    line-height: 14px;
  }
}

.text--size--large {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: @base-color-header;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.text--title {
  font-size: 16px;
  line-height: 20px;
  color: @base-color-header;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 25px;
  }
}

.text--title--normal {
  font-style: normal;
  text-transform: none;
  line-height: 20px;
}

.text--title--medium {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @base-color-header;

  @media (min-width: @tablet) {
    font-size: 36px;
  }
}

.text--title--large {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: @additional-color-text;
}

.text--title--big {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: @base-color-header;

  @media (min-width: @tablet) {
    font-size: 60px;
  }
}

.text--legend {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: @base-color-header;
  background-color: @background;
  padding: 0 24px 0 0;

  @media (min-width: @tablet) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 41px 0 0;
  }
}

.catalog .text--title--large,
.request-form .text--title--large {
  color: @base-color-header;
  line-height: 60px;
  font-weight: 400;
  margin-top: 15px;

  @media (min-width: @tablet) {
    font-size: 60px;
  }
}

.catalog .text--title--large {
  padding: 0 20px;

  @media (min-width: @tablet) {
    padding: 17px 0;
  }

  @media (min-width: @desktop) {
    padding: 10px 0;
    margin-top: 10px;
  }
}

.catalog .text--size--large {
  text-transform: none;
  text-align: left;

  @media (min-width: @tablet) {
    font-size: 36px;
    padding-left: 37px;
  }

  @media (min-width: @desktop) {
    padding-left: 0;
  }
}

.catalog .text--size--small {
  line-height: 16px;

  @media (min-width: @tablet) {
    font-size: 16px;
  }
}

.catalog--additional .text--size--small {
  font-size: 14px;
  line-height: 14px;
}

.copyright .text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: none;
}

.contacts .text--title {
  font-family: "Oswald Regular", "Arial", sans-serif;
}

.more .text {
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  text-align: center;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 20px;
    padding: 25px 40px 0 40px;
  }

  @media (min-width: @desktop) {
    padding: 0;
  }
}

.more .text--title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet) {
    font-size: 20px;
    padding: 0 55px;
  }

  @media (min-width: @desktop) {
    padding: 5px 0 27px 0;
  }
}

.banner .text {
  font-size: 16px;
  line-height: 20px;
  color: @additional-color-text;
  text-align: center;
  text-transform: none;
  align-self: flex-end;
  padding: 27px 50px;

  @media (min-width: @tablet) {
    align-self: center;
    text-align: left;
    max-width: 285px;
    padding-left: 0;
    padding-right: 100px;
  }

  @media (min-width: @desktop) {
    align-self: flex-end;
    text-align: center;
    padding: 27px 41px;
  }
}

.text--underline {
  border-bottom: 1px solid @border-color;
  padding-bottom: 22px;

  @media (min-width: @tablet) {
    border: none;
  }
}
