.text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @base-color-text;
}

.text--align--center {
  text-align: center;
  line-height: 16px;
}

.text--size--small {
  font-size: 12px;
  line-height: 12px;
}

.text--size--large {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: @base-color-header;
  text-align: center;
  text-transform: uppercase;
}

.text--title {
  font-size: 16px;
  line-height: 20px;
  color: @base-color-header;
}

.text--title--normal {
  font-style: normal;
  text-transform: none;
  line-height: 20px;
}

.text--title--medium {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @base-color-header;
}

.text--title--large {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: @additional-color-text;
}

.text--title--big {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: @base-color-header;
}

.text--legend {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: @base-color-header;
  padding: 0;
}

.catalog .text--title--large,
.request-form .text--title--large {
  color: @base-color-header;
  line-height: 60px;
  font-weight: 400;
  margin-top: 15px;
}

.catalog .text--title--large {
  padding: 0 20px;
}

.catalog .text--size--large {
  text-transform: none;
  text-align: left;
}

.catalog .text--size--small {
  line-height: 16px;
}

.catalog--additional .text--size--small {
  font-size: 14px;
  line-height: 14px;
}

.copyright .text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: none;
}

.contacts .text--title {
  font-family: "Oswald Regular", "Arial", sans-serif;
}

.more .text {
  font-size: 12px;
  line-height: 16px;
}

.more .text--title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.banner .text {
  font-size: 16px;
  line-height: 20px;
  color: @additional-color-text;
  text-align: center;
  text-transform: none;
  align-self: flex-end;
  padding: 27px 50px;
}

.text--underline {
  border-bottom: 1px solid @border-color;
  padding-bottom: 22px;
}
