.title {
  padding-top: 22px;
  padding-bottom: 15px;
  padding-right: 45px;
  text-align: left;

  @media (min-width: @tablet) {
    padding: 29px 50px;
    text-align: center;
  }

  @media (min-width: @desktop) {
    padding: 29px 10px;
  }
}

.catalog--additional .title {
  padding-top: 13px;
  padding-bottom: 11px;
}
