.title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: @base-color-header;
}

.title--size--l {
  line-height: 36px;
  color: @additional-color-text;
}

.title--size--m {
  font-size: 24px;
  line-height: 37px;
}

.title--additional {
  font-size: 24px;
  line-height: 24px;
}

.title--contacts {
  font-size: 16px;
  line-height: 20px;
  color: base-color-header;
}
