.tumbler {
  display: block;
  position: relative;
  border-radius: 3px;
  top: 3px;
  left: 5px;
  width: 35px;
  height: 6px;
  background-color: @catalog-item-bg;

  @media (min-width: @tablet) {
    top: -16px;
    left: 46%;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid @border-stat-color;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    background-color: @background;

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: @catalog-item-bg;
    }

    &:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    }

    &:active {
      border: 1px solid @catalog-item-bg;
    }
  }
}
