//Размеры экранов
@tablet: 768px;
@desktop: 1440px;

//Базовый цвет текста
@base-color-text: #444444;

//Цвет ссылок дополнительных товаров
@additional-link-color: #222222;

//Дополнительный цвет текста
@additional-color-text: #ffffff;

//Базовый цвет заголовков и элементов меню
@base-color-header: #111111;

//Дополнительный цвет заголовков
@additional-color-header: #ffffff;

//Цвет фона сайта
@background: #ffffff;

//Фон для пикчи логотипа
@logo-background: #fac005;

//Фон блока promo
@promo-background: #64a83b;

//Фон advantages__icon
@advantages-bg: #68b738;

//Фон заглушка для пикч каталога
@catalog-item-bg: #68b738;

//Фон элементов categories__item
@categories-item-bg: #f2f2f2;

//Серый фон блоков
@bg-gray: #f2f2f2;

//Цвет бордеров
@border-color: #e6e6e6;

//Ховер для кнопок
@hover-color: #5eaa2f;

//Бордеры статистики
@border-stat-color: #cdcdcd;

//Ховер серой кнопки
@gray-button-hover: #ebebeb;
